*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: #4D4E53;
}

:root {
    --main-background-color: rgb(12, 81, 121);
    --game-field: #3b6;
    --player-color: rgb(77, 117, 228);
    --projectile-color: #e11;
    --game-over-text: #fff;
    --game-over-border: rgb(29, 29, 29);
}

#index {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-background-color);
}

#start-screen{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main-background-color);
}

#start{
    font-size: 70px;
    color: var(--game-over-text);
}

#play-btn{
    font-size: 40px;
    text-decoration: none;
    padding: 30px;
    background-color: #e11;
    color: var(--game-over-text);
    border: solid var(--game-over-border) 3px;
    border-radius: 40px;
}

#game-over-screen {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main-background-color);
}

#game-area {
    margin: 0;
    padding: 0;
    position: relative;
    width: 960px;
    height: 540px;
    background-color: var(--game-field);
    overflow: hidden;
}

#player {
    position: absolute;
    background-color: var(--player-color);
    z-index: 999;
}

.cubeRain {
    position: absolute;
    background-color: var(--projectile-color);
}

#game-over {
    font-size: 70px;
    color: var(--game-over-text);
}

#game-over-btn {
    font-size: 40px;
    text-decoration: none;
    padding: 30px;
    background-color: #e11;
    color: var(--game-over-text);
    border: solid var(--game-over-border) 3px;
    border-radius: 40px;
}

.damage-flash {
    animation: flash-red 0.2s ease-in-out alternate 3;
}

@keyframes flash-red {
    from {
        filter: brightness(1) saturate(1);
    }

    to {
        filter: brightness(2) saturate(5) hue-rotate(-30deg);
        background-color: rgba(255, 0, 0, 0.5);
    }
}

.roll {
    filter: brightness(0.5) saturate(0.3);
    transition: filter 0.1s;
}

.bar {
    position: absolute;
    background-color: var(--projectile-color);
    z-index: 1;
}